<div class="jumbotron">
    <div class="row">
        <div class="col-lg-5">
            <img src="{{dataDetail.img}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        </div>
        <div class="col-lg-7">
            <h1 class="display-3">{{dataDetail.name}}</h1>
            <p class="lead">Giá: {{dataDetail.price}}</p>
            <hr class="my-2">
            <p>ID: {{dataDetail.id}}</p>
            <p>Phân loại: {{dataDetail.category_id}}</p>
        </div>
    </div>
</div>