<h3 class="text-center mb-3">
    Danh sách sản phẩm</h3>
<div class="row mb-3">
    <div class="col-lg-3">
        <button type="button" class="btn btn-primary" routerLink="/add"><i class="fa-solid fa-user-plus"></i> Thêm mới</button>
    </div>
    <div class="col-lg-9">
        <div class="row float-right">
            <input class="form-control mr-sm-2 inputSearch" type="text" placeholder="Search" [(ngModel)]="keyword">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 mb-2" *ngFor="let item of listProduct | search:keyword">
        <div class="card">
            <img class="card-img-top" src="{{item.img}}" height="250px">
            <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">{{item.price}}</p>
                <div class="row">
                    <div class="col-lg-6">
                        <a class="btn btn-info" href="#" role="button" routerLink="/detail/{{item.id}}">Xem thêm</a>
                    </div>
                    <div class="col-lg-6">
                        <div class="row float-right">
                            <button type="button" class="btn btn-success" routerLink="/edit/{{item.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button type="button" class="btn btn-danger ml-1" (click)="deleteProduct(item.id)"><i class="fa-solid fa-user-slash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>